.show-wrapper {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #dcdfe6;
  padding: 10px;
  width: 100%;
}

.show-wrapper .img-wrapper{
  position: relative;
  display: inline-block;
  width: 110px;
  height: 150px;
  margin-top: 5px;
}

.show-wrapper .img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;height: 100%;
}
