.single-brief-concert-wrapper {
  /*width: 100%;*/
  position: relative;
  display: inline-block;
  text-align: center;
  /*border: 1px solid #eee;*/
  width: 100%;
  /*padding: 10px;*/
  cursor: pointer;
  margin: 20px 0;
}

.single-brief-concert-wrapper .img-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.single-brief-concert-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.single-brief-concert-wrapper .title-p {
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.single-brief-concert-wrapper .place-p {
  color: #999;
  font-size: 12px;
}

.single-brief-concert-wrapper .time-p {
  color: #999;
  font-size: 12px;
}

.single-brief-concert-wrapper .price-p {
  margin-top: 2px;
  color: #FEC581;
  font-weight: 600;
  font-size: 14px;
}
