.carousel-area-wrapper {
    margin-top: 10px;
}

.carousel-area-wrapper .welcome-wrapper {
    margin-left: 80px;
    margin-top: 150px;
}


.carousel-area-wrapper h1 {
    font-size: 32px;
    margin: 30px 0;
}

.carousel-area-wrapper .pic-wrapper {
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 100px #99999980;
}

.el-carousel__item {
    /*box-shadow: 0px 0px 80px #999999;*/
}

.el-carousel__item img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
}

/deep/ .el-carousel__indicators--outside button {
    background-color: #FEC581;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    line-height: 30px;
    /*color: #FEC581;*/
}

/deep/ .el-carousel__indicator.is-active button {
    background-color: #906DFF;
    opacity: 1;
}

/deep/ .el-carousel__indicators {
    display: none;
}

.carousel-area-wrapper .select-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    padding: 0 60px;
    /*background-color: #906DFF;*/
    height: 50px;
}

.carousel-area-wrapper .select-wrapper .back-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #ffffff;
    border: none;
    outline: none;
    box-shadow: 0px 0px 80px #999999;
    position: absolute;
    cursor: pointer;
}

.carousel-area-wrapper .select-wrapper .back-button i {
    color: #906DFF;
    font-weight: 800;
    font-size: 20px;
}

.carousel-area-wrapper .select-wrapper ul {
    position: relative;
    display: inline;
    margin-top: 42px;
}

.carousel-area-wrapper .select-wrapper li {
    /*width: auto;*/
    position: relative;
    display: inline;
    /*width: 20px;*/
}

.el-carousel__button {
    position: relative;
    display: inline;
    background-color: #FEC581;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    line-height: 50px;
    margin: 0 5px;
}

.el-carousel__button.is-active {
    background-color: #906DFF;
}

.el-carousel__button:hover {
    background-color: #906DFF;
}

