.brief-concerts-wrapper {
  padding: 30px;
  margin-bottom: 30px;
}

.brief-concerts-wrapper .tabs-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.brief-concerts-wrapper .concerts-wrapper {
  text-align: center;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
