.pay-area-wrapper {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.pay-area-wrapper span {
  color: #871FCA;
}

.pay-area-wrapper .pay-wrapper {
  width: 90%;
  text-align: left;
  margin-left: 5%;
  position: relative;
}

.pay-area-wrapper .pay-wrapper p {
  margin: 30px;
}

.pay-area-wrapper .pay-wrapper .el-radio {
  width: 80%;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 20px;
}

.pay-area-wrapper .pay-wrapper .el-button {
  width: 200px;
  margin: 30px;
  float: right;
}

.pay-area-wrapper .pay-wrapper .pay-info-wrapper {
  width: 60%;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 30px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-left: 20%;
  padding: 30px;
}

.pay-area-wrapper .pay-wrapper .pay-info-wrapper .el-input {
  width: 300px;
  margin-left: 30px;
}
