.user-info-wrapper .info-wrapper {
  padding: 30px 60px 30px 60px;
}

.user-info-wrapper .change-info-wrapper {
  padding: 30px;
  /*width: 80%;*/
  text-align: center;
}

.user-info-wrapper .change-info-wrapper .el-input {
  margin-bottom: 20px;
  text-align: center;
}

.user-info-wrapper .change-info-wrapper .el-input /deep/ input {
  text-align: center;
}
