.footer-wrapper {
  border-top: 8px solid #871FCA;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #eee;
  padding: 40px;
  /*padding-bottom: 0;*/
}

.footer-wrapper h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 64px;
  width: 100%;
  color: #871FCA;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 800;
}

.footer-wrapper h2 {
  font-size: 24px;
  width: 100%;
  color: #871FCA;
  text-align: center;
  margin: 0;
  /*letter-spacing: 10px;*/
}

.footer-wrapper h3 {
  font-size: 16px;
  width: 100%;
  color: #871FCA;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  /*letter-spacing: 10px;*/
}


.footer-wrapper p {
  position: absolute;
  color: #333;
  float: right;
  bottom: 0;
  right: 30px;
}

/*.footer-wrapper .buttons-wrapper {*/
/*width: 100px;*/
/*border-top: 3px solid #333;*/
/*margin-left: 20px;*/
/*position: relative;*/
/*display: inline-block;*/
/*padding: 20px;*/
/*}*/

/*.footer-wrapper .buttons-wrapper {*/
/*!*width: 100px;*!*/
/*border-left: 3px solid #333;*/
/*margin-left: 20px;*/
/*position: relative;*/
/*display: inline-block;*/
/*padding-left: 20px;*/
/*width: 100%;*/
/*margin-bottom: 20px;*/
/*height: 28px;*/
/*}*/

/*.footer-wrapper .buttons-wrapper a {*/
/*position: relative;*/
/*!*width: 100%;*!*/
/*white-space: nowrap;*/
/*margin-bottom: 20px;*/
/*display: inline-block;*/
/*color: #666;*/
/*cursor: pointer;*/
/*line-height: 28px;*/
/*}*/

/*.footer-wrapper .buttons-wrapper a:hover {*/
/*color: #333;*/
/*}*/

.footer-wrapper .buttons-wrapper {
  /*width: 100px;*/
  /*border-left: 3px solid #333;*/
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 16px;
  padding: 0;
}

.footer-wrapper .buttons-wrapper a {
  position: relative;
  /*width: 100%;*/
  white-space: nowrap;
  display: inline-block;
  color: #871FCA;
  cursor: pointer;
  line-height: 16px;
  font-size: 16px;
  width: 90px;
  font-weight: 600;
}

.footer-wrapper .buttons-wrapper a:hover {
  /*color: #333;*/
}
