.order-wrapper {
  position: relative;
  display: inline-block;
  width: 80%;
  margin: 20px;
  text-align: left;
  border: 1px solid #999;
}

.order-wrapper h5 {
  /*background-color: #eee;*/
  /*padding: 10px;*/
  float: right;
  line-height: 24px;
  color: #871FCA;
}

.order-wrapper .order-info-wrapper p {
  margin-top: 10px;
}

.order-wrapper p span {
  font-weight: 500;
}

.order-wrapper .order-title-wrapper {
  background-color: #eee;
  padding: 10px;
}

.order-wrapper .order-info-wrapper {
  padding: 30px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
  display: inline-block;
  width: 96%;
  margin-left: 2%;
}

.order-wrapper .order-info-wrapper .img-box {
  width: 102px;
  height: 102px;
  border: 1px solid #eee;
  text-align: center;
  position: relative;
  display: inline-block;
  float: left;
}

.order-wrapper .order-info-wrapper .img-box img {
  position: absolute;
  /*display: inline-block;*/
  max-width: 100px;
  max-height: 100px;
  top: -50%;
  transform: translate(-50%, 50%);
}

.order-wrapper .order-info-wrapper .info-wrapper {
  width: 68%;
  float: right;
  min-height: 100px;
  position: relative;
  display: inline-block;
}

.order-wrapper .order-footer-wrapper {
  padding: 15px;
}

.order-wrapper .order-footer-wrapper h6 {
  font-weight: 300;
  position: relative;
  display: inline-block;
}

.order-wrapper .order-footer-wrapper h6 span {
  color: #871FCA;
  font-size: 20px;
}

.order-wrapper .order-footer-wrapper .buttons-wrapper {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -10px;
}
