.advertisement-carousel-wrapper {
  /*color: #906DFF;*/
  /*min-height: 500px;*/
  position: absolute;
  right: 0;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
  width: 250px;
  min-height: 20px;
}

.advertisement-carousel-wrapper h5 {
  color: #906DFF;
  background-color: #f5f7fa;
  /*margin: -10px;*/
  padding: 10px;
  border-bottom: 1px solid #dcdfe6;
  padding-top: 15px;
  margin: -20px;
  margin-bottom: 10px;
}


.advertisement-carousel-wrapper .img-wrapper {
   width: 200px;
   height: 350px;
  cursor: pointer;
 }

.advertisement-carousel-wrapper .info-wrapper {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  background-color: #33333390;
}

.advertisement-carousel-wrapper .info-wrapper p {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  background-color: #33333390;
  color: #FEC581;
  font-weight: 600;
  font-size: 14px;
  /*height: 25px;*/
  line-height: 25px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.advertisement-carousel-wrapper .invisible-wrapper {

}

.advertisement-carousel-wrapper .img-wrapper img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.select-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.select-wrapper ul {
  position: relative;
  display: inline;
  margin-top: 42px;
}

.select-wrapper li {
  /*width: auto;*/
  position: relative;
  display: inline;
  /*width: 20px;*/
}

.el-carousel__button {
  position: relative;
  display: inline;
  background-color: #FEC581;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  line-height: 50px;
  margin: 0 5px;
}

.el-carousel__button.is-active {
  background-color: #906DFF;
}

.el-carousel__button:hover {
  background-color: #906DFF;
}
