.concerts-wrapper {
}

.concerts-wrapper .params-wrapper {
  padding: 30px;
  width: 100%;
  text-align: center;
}

.concerts-wrapper .params-wrapper .el-input {
  width: 60%;
  /*z-index: -2;*/
}

.concerts-wrapper .params-wrapper .el-input /deep/ input {
  z-index: 0;
}

.concerts-wrapper .params-wrapper i {
  font-size: 30px;
  z-index: 100000;
  cursor: pointer;
  /*border-bottom: 2px solid #333;*/
  /*margin-left: -36px;*/
}

.concerts-wrapper .params-wrapper i:hover {
  color: #871FCA;
}
