.advertisement-list-wrapper {
  /*color: #906DFF;*/
  /*min-height: 500px;*/
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
  padding: 10px;
  padding-bottom: 0;
  width: 250px;
  /*height: 100px;*/
  position: absolute;
  right: 0;
  top: 410px;
}

.advertisement-list-wrapper h5 {
  color: #906DFF;
  background-color: #f5f7fa;
  margin: -10px;
  padding: 10px;
  border-bottom: 1px solid #dcdfe6;
  margin-bottom: 0px;
  padding-top: 15px;
}

.advertisement-list-wrapper .advertisement-wrapper {
  padding: 10px 10px 3px 10px;
  position: relative;
  display: inline-block;
  width: 100%;
  /*padding: 10px;*/
  border-bottom: 1px solid #dcdfe6;
   cursor: pointer;
}

.advertisement-list-wrapper .advertisement-wrapper .img-wrapper {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 130px;
}

.advertisement-list-wrapper .advertisement-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.advertisement-list-wrapper .advertisement-wrapper .info-wrapper {
  position: relative;
  display: inline-block;
  width: 102px;
  /*background-color: #906DFF;*/
  height: 130px;
}

.advertisement-list-wrapper .advertisement-wrapper .info-wrapper .title-p {
  width: 100%;
  position: relative;
  display: inline-block;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  height: 54px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /*margin-bottom: 10px;*/
  font-weight: 600;
}

.advertisement-list-wrapper .advertisement-wrapper .info-wrapper .body-p {
  width: 100%;
  position: relative;
  display: inline-block;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  /*margin-bottom: -2px;*/
  margin-bottom: -8px;
  margin-top: 8px;
}

.advertisement-list-wrapper .advertisement-wrapper .info-wrapper .price-p {
  width: 100%;
  position: relative;
  display: inline-block;
  color: #FEC581;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 600;
  margin-top: 10px;
}
