.show-list-content-wrapper {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 320px;
  right: 200px;
  height: 200px;
  /*border: 1px solid #dcdfe6;*/
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);*/
  background-color: white;
}

/deep/ .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  width: 120px;
  text-align: center;
  font-weight: 600;
  /*font-size: 16px;*/
  height: 60px;
  line-height: 60px;
  font-size: 16px;

}

/deep/ .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  border-top: 5px solid #906DFF;
  /*border-bottom: 5px solid #ffffff;*/
  height: 64px;
}
