.show-list-content-wrapper {
  position: relative;
  display: inline-block;
  top: 0;
  left: 320px;
  right: 270px;
  width: 610px;
  height: auto;
  margin-bottom: 30px;
  /*min-height: 800px;*/
  /*width: 90%;*/
  /*overflow: visible;*/
}

.show-list-content-wrapper .card-tabs-wrapper {
  /*min-height: 800px;*/
}

.el-tabs--border-card {
  /*min-height: 1000px;*/
}

/deep/ .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  width: 120px;
  text-align: center;
  font-weight: 600;
  /*font-size: 16px;*/
  height: 60px;
  line-height: 60px;
  font-size: 16px;

}

/deep/ .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  border-top: 5px solid #906DFF;
  /*border-bottom: 5px solid #ffffff;*/
  height: 64px;
}

.show-list-content-wrapper .search-content-wrapper {
  /*width: 90%;*/
  width: 100%;
  border-bottom: 1px solid #dcdfe6;
  padding: 10px;
  padding-top: 0;
}

.show-list-content-wrapper .search-content-wrapper h4 {

}

.show-list-content-wrapper .search-content-wrapper h4 span {
  color: #FEC581;
  font-size: 26px;
}

.show-list-content-wrapper .shows-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.transition-box {
  color: #906DFF;
  letter-spacing: 2px;
  font-weight: 600;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdfe6;
  padding: 10px;
  padding-top: 0;
}

.transition-box i {
  color: #FEC581;
  margin-right: 20px;
}

.show-list-content-wrapper .pagination-wrapper {
  padding: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.el-carousel /deep/ .el-carousel__container {
  height: 630px;
}
.select-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.select-wrapper ul {
  position: relative;
  display: inline;
  margin-top: 42px;
}

.select-wrapper li {
  /*width: auto;*/
  position: relative;
  display: inline;
  /*width: 20px;*/
}

.el-carousel__button {
  position: relative;
  display: inline;
  background-color: #FEC581;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  line-height: 50px;
  margin: 0 5px;
}

.el-carousel__button.is-active {
  background-color: #906DFF;
}

.el-carousel__button:hover {
  background-color: #906DFF;
}

.ad-wrapper {
  padding: 20px 0 0 0;
}

.ad-wrapper h1 {

}
