.show-list-nav-wrapper {
  /*color: #906DFF;*/
  /*min-height: 500px;*/
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
  min-width: 300px;
  margin-bottom: 20px;
  position: fixed;
  width: 300px;
}

.show-list-nav-wrapper p {
  font-size: 14px;
  margin: 20px 0 10px 0;
  padding: 3px 6px;
  border: 1px solid #dcdfe6;
  position: relative;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px;
}

.show-list-nav-wrapper i {
  color: #FEC581;
}

.show-list-nav-wrapper span {
  color: #906DFF;
}

.show-list-nav-wrapper .city-wrapper {
  /*width: 90%;*/
  /*position: relative;*/
  /*display: inline-block;*/
  border-bottom: 1px solid #dcdfe6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.show-list-nav-wrapper .city-wrapper .info-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  /*width: 90%;*/
  /*height: 10px;*/
  /*background-color: #FEC581;*/
}

.info-wrapper button {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  margin-right: 10px;
  padding: 5px 7px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333;
}

.info-wrapper button:hover {
  color: #906DFF;
}

.info-wrapper button.is-active {
  background-color: #906DFF;
  color: #ffffff;
}

.info-wrapper a {
  position: absolute;
  right: 0;
  bottom: 2px;
  color: #999;
  /*font-weight: 600;*/
  font-size: 14px;
  text-decoration: none;
  border: none;
}

.info-wrapper a:hover {
  color: #906DFF;
}

.info-wrapper i {
  color: #999;
}

.show-list-nav-wrapper .type-wrapper {
  /*width: 90%;*/
  /*position: relative;*/
  /*display: inline-block;*/
  border-bottom: 1px solid #dcdfe6;
  padding-bottom: 20px;
  margin: 20px 0;
}

.info-wrapper .el-date-editor {
  width: 260px;
  /*margin-top: 10px;*/
  position: absolute;
  display: inline-block;
  height: 100px;
  left: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.info-wrapper .el-range-editor /deep/ .el-range-input {
  /*position: marker;*/
  /*line-height: 1;*/
  width: 240px;
  height: 25px;
  /*margin-top: -100px;*/
  transform: translateY(-100px);
  left: 0;
  color: #906DFF;
}

.info-wrapper .el-range-editor /deep/ .el-range-input:nth-child(4) {
  transform: translateY(-115px);
}

.info-wrapper .el-date-editor /deep/ .el-range-separator {
  height: 20px;
  width: 240px;
  line-height: 20px;
  transform: translateY(-105px);
  left: 0;

}

.show-list-nav-wrapper .breadcrumb-wrapper {
  padding: 10px 20px;
  background-color: #f5f7fa;
  border-bottom: 1px solid #dcdfe6;
  margin: -20px;
  margin-bottom: 20px;
}

.show-list-nav-wrapper .breadcrumb-wrapper .el-breadcrumb {
  font-size: 16px;
}


.show-list-nav-wrapper .breadcrumb-wrapper a {
  border-bottom: 0;
}
