.user-orders-wrapper {
  padding: 30px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.user-orders-wrapper .orders-wrapper {
  position: relative;
  width: 100%;
  min-height: 500px;
  text-align: center;
}

.user-orders-wrapper .orders-wrapper .note {
  /*position: absolute;*/
  transform: translateY(250px);
  color: #871FCA;
  letter-spacing: 10px;
}

.user-orders-wrapper .tabs-cur-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 20%;
  border-right: 2px solid #871FCA;
  /*width: 30px;*/
}

.user-orders-wrapper .tabs-cur-wrapper a {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}
