.el-dialog__wrapper /deep/  .el-dialog /deep/ .el-dialog__header {
  /*background-color: #eee;*/
  /*padding: 20px;*/
  padding: 10px 20px;
  background-color: #f5f7fa;
  border-bottom: 1px solid #dcdfe6;
}

.el-dialog__wrapper /deep/  .el-dialog /deep/ .el-dialog__header i {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: -5px;
  margin: 0;
}

.el-dialog__wrapper /deep/ .el-dialog /deep/ .el-dialog__body {
  padding-bottom: 0;
}

.el-dialog__wrapper /deep/ .el-dialog /deep/ .el-dialog__footer {
  padding-top: 0;
  margin-top: -30px;
}

.dialog-footer p {
  position: absolute;
  left: 15px;
  bottom: 5px;
  font-size: 14px;
}

.ticket-select-wrapper {
}

.ticket-select-wrapper p {
  margin-bottom: 15px;
}

.ticket-select-wrapper p span {
  color: #FEC581;
  font-size: 20px;
  margin-right: 20px;
}

.checkbox-0 /deep/ .el-checkbox.is-bordered {
  border-radius: 0;
  border: 2px solid #E6494F;
}

.checkbox-0 /deep/ .el-checkbox.is-bordered.is-checked {
  border: 2px solid #E6494F;
  height: 40px;
}

.checkbox-0 /deep/ .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #666;
}

.checkbox-0 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #E6494F;
  background-color: #E6494F;
}

.checkbox-0 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner:target {
  border-color: #E6494F;
}

.checkbox-0 /deep/ .el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: #E6494F;
}

.checkbox-1 /deep/ .el-checkbox.is-bordered {
  border-radius: 0;
  border: 2px solid #A3A9FF;
}

.checkbox-1 /deep/ .el-checkbox.is-bordered.is-checked {
  border: 2px solid #A3A9FF;
  height: 40px;
}

.checkbox-1 /deep/ .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #666;
}

.checkbox-1 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #A3A9FF;
  background-color: #A3A9FF;
}

.checkbox-1 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner:target {
  border-color: #A3A9FF;
}

.checkbox-1 /deep/ .el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: #A3A9FF;
}

.checkbox-2 /deep/ .el-checkbox.is-bordered {
  border-radius: 0;
  border: 2px solid #f9ab37;
}

.checkbox-2 /deep/ .el-checkbox.is-bordered.is-checked {
  border: 2px solid #f9ab37;
  height: 40px;
}

.checkbox-2 /deep/ .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #666;
}

.checkbox-2 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #f9ab37;
  background-color: #f9ab37;
}

.checkbox-2 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner:target {
  border-color: #f9ab37;
}

.checkbox-2 /deep/ .el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: #f9ab37;
}

.checkbox-3 /deep/ .el-checkbox.is-bordered {
  border-radius: 0;
  border: 2px solid #a3d841;
}

.checkbox-3 /deep/ .el-checkbox.is-bordered.is-checked {
  border: 2px solid #a3d841;
  height: 40px;
}

.checkbox-3 /deep/ .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #666;
}

.checkbox-3 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #a3d841;
  background-color: #a3d841;
}

.checkbox-3 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner:target {
  border-color: #a3d841;
}

.checkbox-3 /deep/ .el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: #a3d841;
}

.checkbox-4 /deep/ .el-checkbox.is-bordered {
  border-radius: 0;
  border: 2px solid #80bec3;
}

.checkbox-4 /deep/ .el-checkbox.is-bordered.is-checked {
  border: 2px solid #80bec3;
  height: 40px;
}

.checkbox-4 /deep/ .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #666;
}

.checkbox-4 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #80bec3;
  background-color: #80bec3;
}

.checkbox-4 /deep/ .el-checkbox__input.is-checked .el-checkbox__inner:target {
  border-color: #80bec3;
}

.checkbox-4 /deep/ .el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: #80bec3;
}

.seats-wrapper {
  position: relative;
  display: -webkit-box;
  margin-bottom: 10px;
  padding: 10px 0;
}

/*.seats-wrapper div {*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*height: 17px;*/
  /*margin: 0;*/
/*}*/

.seats-wrapper .left-wrapper {
  /*width: ;d*/
  width: 180px;
  min-height: 200px;
  /*background-color: #eee;*/
  text-align: center;
  margin-left: 10px;
}

.seats-wrapper .center-wrapper {
  /*width: ;d*/
  width: 360px;
  min-height: 200px;
  /*background-color: #eee;*/
  margin: 0 10px;
  text-align: center;
}


.seats-wrapper .right-wrapper {
  /*width: ;d*/
  width: 180px;
  min-height: 200px;
  /*background-color: #eee;*/
  text-align: center;
}



.selected-seats-wrapper {
  /*margin-top: 20px;*/
  /*padding: 20px;*/
  /*width: 90%;*/
  /*margin-left: 5%;*/
  /*border-top: 1px solid #eee;*/
  padding: 0 10px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: -10px;
}

.selected-seats-wrapper /deep/ .el-tag {
  margin-left: 5px;
  margin-right: 8px;
  border-radius: 0;
  background: none;
  /*margin-top: 20px;*/
}

