.concert-info-wrapper {
  padding: 30px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.concert-info-wrapper .concert-image-wrapper {
  width: 402px;
  height: 402px;
  border: 1px solid #999;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 60px;
}

.concert-info-wrapper .concert-image-wrapper img {
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.concert-info-wrapper .info-wrapper {
  width: 700px;
  position: relative;
  display: inline-block;
  float: right;
}


.concert-info-wrapper .info-wrapper p{
  margin-top: 30px;
  font-size: 20px;
}

.concert-info-wrapper .intro-wrapper {
  position: relative;
  display: inline-block;
  border-top: 1px solid #999;
  margin-top: 60px;
  padding: 60px;
  width: 100%;
  word-break: break-all;
}

.concert-info-wrapper .intro-wrapper pre {
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
  /*word-break: break-all;*/
  overflow: auto;
  white-space: pre-wrap;
}
